/* navbar */

.bg-light{
    background-color: #3b5998!important;
}

.navbar-light .navbar-brand{
    color: #fff;
}

.navbar-light .navbar-nav .active >.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-lin{
	color : #fff;
}


.navbar-light .navbar-nav .nav-link{
    color:#e1e1e1;
}

.navbar-light .navbar-nav .nav-link:hover{
    color:#fff;
}

.ml-auto{
    margin-right: 2rem;
}
/* end navbar */

/*jumbotron*/
.jumbotron{
    background-color: #9bc2e8;
    color: #f7041c;
}
/*end jumbotron*/

/*colunm*/
.card{
    width: 9rem;
    margin: auto;
}
/*end column*/

/*footer*/
footer{
    margin-top: 1rem;
    background-color: #fff;
}
/*end footer*/